/*CSS Reset*/
body, div, article, section, section:after, header, nav, h1, h2, h3, h4, h5, p, ul, ol, li, a, strong, em, footer { border: 0; padding: 0; margin: 0; }

/* Natural Box Model */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/*  V  O  I  L  A  */

body, nav, section, article, h1, h2, h3, h4, h5, p, a  {
	background-color: #ffe812;
	color: #262626;
	font-family: "franklin-gothic-urw";
	font-size: 1em;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5em;
}

#container {
	padding-top: 160px;
	margin: auto;
	/*margin-top: 64px;*/
	/*why doesn't this work?*/
}

header {
	width: 100%;
	position: fixed;
	opacity: .9;
	z-index: 100;
	border-bottom: 1px solid #262626;
}

nav { 
	opacity: 1;
	height: 100%;
}

nav ul li a {
	font-weight: 500;
	font-style: normal;
}

nav ul li#me a {
	text-decoration: none;
}

article {
	padding-bottom: 4em;
	border-bottom: 4px solid #262626;
}

.iPad {
	min-width: 320px;
	max-width: 1024px;
	padding: 16px;
}

.row {
	max-width: 1024;
	/*text-align: center;*/
}

section {
	margin-right: 4px;
	padding-right: 16px;
}

section#photo {
    background-image: url('../images/IMG_0499.jpg');
}


.column {
	width: 240px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

article section.column {
	border-top: 2px solid #262626;
}

#education, #experience, #loves, #portrait {
	/*height: 480px;*/
	margin-bottom: 2em;
}

.centered {
	margin: auto;
}

.uppercase {
	text-transform: uppercase;
}

.tracking-half-em{
	letter-spacing: .5em;
}

.leading-block {
	line-height: 1em;
}

.small-type {
	font-size: .75em;
}

h1 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 2em;
	margin-bottom: 1.5em;
	/*border-bottom: 2px solid #262626;*/
}

h2 {
	font-weight: 500;
	/*text-transform: uppercase;*/
	padding-bottom: 1.5em;
}

h3 {
	letter-spacing: .0625em;
	padding-bottom: 1.5em;
}

h4 {

}

footer { margin-top: 1.5em;}
footer p {
	font-style: normal;
	font-weight: 400;
	font-size: .875em;
	line-height: 1.5em;
	line-spacing: 1em;
	margin-bottom: 1.5em;
}

/*strong { weight: 700;}*/

