/* CSS Reset */
body, div, article, section, section:after, header, nav, h1, h2, h3, h4, h5, p, ul, ol, li, a, strong, em, footer { border: 0; padding: 0; margin: 0; }

/* Natural Box Model */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


/* ======== V  O  I  L  A ========  */

body, nav, section, article, h1, h2, h3, h4, h5, p, a  {
	font-family: "franklin-gothic-urw";
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5em;
	color: #262626;
	background-color: #ffe812;
}

#resume {
	padding-top: 10em;
}

body header {
	width: 100%;
	position: fixed;
	z-index: 100;
	opacity: .9;
	border-bottom: .0625em solid #262626;
}

nav ul li a {
	font-weight: 500;
	font-style: normal;
	opacity: 1;
}

nav ul li#me a {
	text-decoration: none;
}

article#resume {
	padding-bottom: 3em;
	border-bottom: 4px solid #262626;
}

section {
	border-right: none;
}

.iOS {
	/*padding: 16px;*/
	margin: auto;
	padding-left: 16px;
	min-width: 320px;
	max-width: 1024px;
}

.column {
	width: 240px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	border-right: none;
	margin-right: 8px;
}

h1 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 2em;
	margin-bottom: 1.5em;
	/*border-bottom: 2px solid #262626;*/
}

h2 {
	font-weight: 500;
	margin-bottom: 1.5em;
}

h3 {
	letter-spacing: .0625em;
	line-height: 3em;
}

.title-small {
	font-size: .75em;
	font-weight: 400;
}

.padding-top-24px {
	padding-top: 1.5em;
}

.padding-bottom-24px {
	padding-bottom: 1.5em;
}

.rule-top-1px {
	border-top: .0625em solid #262626;
}

.rule-bottom-1px {
	border-bottom: .0625em solid #262626;;
}

.rule-top-2px {
	border-top: .125em solid #262626;
}

.uppercase {
	text-transform: uppercase;
}

.leading-block {
	line-height: 1em;
}

.tracking-8px {
	letter-spacing: .5em;
}


h5 {
	font-size: .875em;
	line-height: 3em;
}

footer { 
	padding-top: 1.5em;
}

footer p {
	font-style: normal;
	font-weight: 400;
	font-size: .875em;
	line-height: 1.5em;
	line-spacing: 1em;
	margin-bottom: 1.5em;
}

footer p a {
	font-style: bold;
}

